In [1]:
a= input("Enter a word : ")
b=a[-1] + a[1:-1]  + a[0]
print(b)

Enter a word : raj
jar

In [2]:
s1= input("Enter 1st  string : ")
s2= input("Enter 2nd string: ")
print(s2[0:2]+s1[2:]+" "+s1[0:2]+s2[2:])

Enter 1st  string : amruth
Enter 2nd string: ajay
ajruth amay

In [3]:
s=input("enter a string :")
x=s[0]+s[1:].replace(s[0],"$")
print(x)

enter a string :amar
am$r

In [4]:
a=input("Enter names of colors by putting comma :")
b=a.split(',')
print("first color : ",b[0])
print("Last color : ",b[-1])

Enter names of colors by putting comma :red,blue,black,yellow
first color :  red
Last color :  yellow

In [8]:
f=input("Enter the file name :")
fn=f.split(".")
print("Extention of the file name is: .",fn[-1])

Enter the file name :amaar.pdf
Extention of the file name is: . pdf

In [9]:
b=input("Enter values to the tuple: ")
a=tuple(b.split(" "))
print("Tuple elements is: ",a)
print("Third element",a[2])
print("third from last",a[-3])

Enter values to the tuple: ajay amruth aneesa athulya anjana
Tuple elements is:  ('ajay', 'amruth', 'aneesa', 'athulya', 'anjana')
Third element aneesa
third from last aneesa

In [10]:
a=set(input("Enter 1st  set color : ").split(','))
b=set(input("Enter 2nd set color: ").split(','))
print("Color present in set one but not in set 2 =",a-b)

Enter 1st  set color : red,blue,green
Enter 2nd set color: yellow,blue,green
Color present in set one but not in set 2 = {'red'}

In [11]:
r=input("Enter  5 roll number separated by commas :").split(',')
n=input("Enter  5 student names separated by commas :").split(',')
d={r[0]:n[0],r[1]:n[1],r[2]:n[2],r[3]:n[3],r[4]:n[4]}
print("Student sorted in ascending order : ",dict(sorted(d.items(),reverse=False)))
print("Student sorted in descending order : ",dict(sorted(d.items(),reverse=True)))

Enter  5 roll number separated by commas :1,2,5,3,6
Enter  5 student names separated by commas :ajay,jahana,fina,anjana,sanin
Student sorted in ascending order :  {'1': 'ajay', '2': 'jahana', '3': 'anjana', '5': 'fina', '6': 'sanin'}
Student sorted in descending order :  {'6': 'sanin', '5': 'fina', '3': 'anjana', '2': 'jahana', '1': 'ajay'}

In [12]:
n1=input("enter three student names separated by spaces: ").split()
dict1={1:n1[0],2:n1[1],3:n1[2]}
n2=input("enter other 2 student names separated by spaces: ").split()
dict2={4:n2[0],5:n2[1]}
dict1.update(dict2)
print("Merge disc= ",dict1)

enter three student names separated by spaces: akhil amrith nabeel
enter other 2 student names separated by spaces: aswin adhil
Merge disc=  {1: 'akhil', 2: 'amrith', 3: 'nabeel', 4: 'aswin', 5: 'adhil'}

In [13]:
even_n=list(range(2,26,2))
print("Even number are: ",even_n)
sum_n=sum(range(2,26,2))
print("sum of the numbers is :",sum_n)

Even number are:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
sum of the numbers is : 156